/*header*/
#header .title{
    display: inline-block;
    color: #1ab4c3;
    font-size: 0.5rem;
    font-weight: normal;
    text-align: center;
}

/*main*/
.main{
    max-width: 1080px;
    margin: 0 auto;
    color: #555;
}

.main a{
    color: #555;
}

/*banner*/
.banner{
    width: 100%;
    height: 5.6rem;
}

.banner a{
    display: block;
    width: 100%;
    height: 100%;
}


/*team*/
.team{
    width: 89%;
    margin: 1rem auto 0;
}

.team p{
    text-align: center;
}

.team .pic-box{
    width: 5.4rem;
    height: 4.4rem;
    margin: 0.6rem auto;
}

.team .pic-box img{
    width: 100%;
    height: 100%;
}

/*pic-item*/
.pic-item{
    width: 100%;
    margin-top: 1rem;
}

.pic-item figure{
    float: left;
    width: 50%;
    height: 4.4rem;
    overflow: hidden;
}

.pic-item figure img{
    display: block;
    width: 100%;
    height: 100%;
}


/*contact*/
.contact{
    clear: both;
    margin: 1rem auto 1.55rem;
}

.contact ul li{
    margin-bottom: 0.4rem;
    color: #1ab4c3;
    font-size: 0.45rem;
    line-height: 1.5;
    text-align: center;
}

.contact ul li span{
    display: block;
}

.logobox{
    margin: 0.8rem auto 0;
    text-align: center;
}

.logobox dt{
    width: 4.08rem;
    height: 3.18rem;
    margin: 0 auto;
    overflow: hidden;
}

.logobox dt img{
    display: block;
    width: 100%;
    height: 100%;
}

.logobox dd{
    color: #94a5b4;
    line-height: 2.5;
}