/*header*/
#header .title{
    display: inline-block;
    color: #1ab4c3;
    font-size: 0.44rem;
    font-weight: normal;
    text-align: center;
}

/*banner*/
.banner{
    width: 100%;
    height: 5.6rem;
}

/*main*/
.main{
    max-width: 1080px;
    margin: 0 auto;
    color: #555;
    font-size: 0.34rem;
}

.main a{
    color: #555;
}

.main h2{
    height: 1.35rem;
    font-size: 0.56rem;
    line-height:  1.35rem;
    text-align: center;
    font-weight: 500;
    color: #1ab4c3;
}

.main .content figure a{
    display: block;
    width: 100%;
    height: 100%;
}

/*medical*/
.medical{
    margin-top: 0.6rem;
}

.medical-desc{
    width: 89%;
    margin: 0.3rem auto 0;
}

.medical-desc figure{
    float: left;
    width: 27%;
    margin: 0 11% 0.64rem;
    text-align: center;
}

.medical-desc figure .pic{
    width: 100%;
    height: 2.6rem;
    margin-bottom: 0.3rem;
    border-radius: 50%;
    overflow: hidden;
}

.medical-desc figure .pic img{
    display: block;
    width: 100%;
    height: 100%;
}

/*tools*/
.tools{
    clear: both;
    width: 100%;
    margin-top: 0.6rem;
    background: url(../images/Europe_bg.png) no-repeat left top #f0f3f6;
    background-size: cover;
    overflow: hidden;
}

.tools .con{
    float: right;
    width: 50%;
    margin: 0 0.4rem 1rem 0; 
}

.tools h2{
    margin-top: 0.35rem;
    text-align: left;
}

.tools p{
    line-height: 1.5;
}

/*strengths*/
.strengths{
    margin-top: 0.6rem;
}

.strengths .content{
    margin-top: 0.2rem;
}

.strengths .content figure{
    position: relative;
    float: left;
    width: 50%;
    height: 4.4rem;
    overflow: hidden;
}

.strengths .content figure img{
    display: block;
    width: 100%;
    height: 100%;
}

.strengths .content figure figcaption{
    position: absolute;
    left: 0.4rem;
    bottom: 0.4rem;
    z-index: 100;
    color: #fff;
    font-size: 0.4rem;
}


/*hotel*/
.hotel{
    clear: both;
    margin-top: 0.6rem;
}

.hotel .content{
    margin-top: 0.2rem;
}

.hotel .content figure{
    position: relative;
    float: left;
    width: 50%;
    height: 4.4rem;
    overflow: hidden;
}

.hotel .content figure img{
    display: block;
    width: 100%;
    height: 100%;
}


/*hospital*/
.hospital{
    clear: both;
    margin: 0.6rem 0 1.5rem;
}

.hospital .content{
    margin-top: 0.2rem;
}

.hospital-item {
    margin-bottom: 1rem;
}

.hospital-item .pic-box{
    position: relative;
    width: 100%;
    height: 5.4rem;
}

.hospital-item .pic-box img{
    display: block;
    width: 100%;
    height: 100%;
}

.hospital-item .pic-box figcaption{
    position: absolute;
    bottom: 0.75rem;
    right: 0;
    width: 2.9rem;
    padding: 0.15rem 0;
    color: #fff;
    font-size: 0.3rem;
    line-height: 1.5;
    text-align: center;
    background: #1ab4c3;
}

.hospital-item .pic-box figcaption span{
    display: block;
}

.hospital-intro{
    width: 89%;
    padding: 0.4rem 0;
    margin: 0 auto;
    line-height: 1.5;
}

.hospital-intro h3{
    font-size: 0.4rem;
    font-weight: 500;
}

.hospital-intro p{
    font-size: 0.32rem;
}

.hospital-item .booking-btn{
    display: block;
    width: 89%;
    height: 1.3rem;
    margin: 0 auto;
    color: #fff;
    font-size: 0.4rem;
    line-height: 1.3rem;
    text-align: center;
    border-radius: 3px;
    background: #1ab4c3;
}