/*main*/
.main{
    max-width: 1080px;
    margin: 0 auto;
    color: #555;
}

.main a{
    color: #555;
}

.main h2{
    height: 1.35rem;
    font-size: 0.56rem;
    line-height:  1.35rem;
    text-align: center;
    font-weight: 500;
    color: #1ab4c3;
}

.main .content figure a{
    display: block;
    width: 100%;
    height: 100%;
}


/*banner*/
.swiper-container{
    position: relative;
    height: 5.6rem;
    margin: 0 auto;    
    overflow: hidden;
    z-index: 1;
}

.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display:flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    box-sizing:content-box;
}

.swiper-slide{
    -webkit-flex-shrink:0;
    flex-shrink:0;
    width: 100%;
    height: 100%;
}

.swiper-container-android .swiper-slide, .swiper-wrapper{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.swiper-pagination{
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
    text-align: center;
}
 
.swiper-pagination-bullet{
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    margin:0 0.1rem;
    border-radius: 50%;
    background: #ddd;
    box-sizing: border-box;
}

.swiper-pagination-bullet-active{
    background-color: #fff;
    border :0.035rem solid #1ab4c3;
}


/*physical*/
.physical{
    margin-top: 0.6rem;
}

.physical-info{
    width: 89%;
    margin: 0 auto;
    text-align: center;
}

.physical-info p{
    line-height: 1.5;
}

.physical-desc{
    width: 100%;
    margin-top: 0.7rem;
}

.physical-desc figure{
    float: left;
    width: 22.5%;
    margin: 0.5rem 5.416666%;
    text-align: center;
}

.physical-desc figure .pic{
    width: 100%;
    height: 2.43rem;
    margin-bottom: 0.3rem;
    border-radius: 50%;
    overflow: hidden;
}

.physical-desc figure .pic img{
    display: block;
    width: 100%;
    height: 100%;
}


/*butler*/
.butler{
    clear: both;
    margin-top: 0.6rem;
}

.butler .content{
    margin-top: 0.25rem;
}

.butler .content figure{
    position: relative;
    float: left;
    width: 50%;
    height: 4.4rem;
    overflow: hidden;
}

.butler .content figure img{
    display: block;
    width: 100%;
    height: 100%;
}

.butler .content figure figcaption{
    position: absolute;
    left: 0.4rem;
    bottom: 0.4rem;
    z-index: 100;
    color: #fff;
    font-size: 0.34rem;
}

.butler .content figure figcaption span{
    display: block;
    font-size: 0.45rem;
    line-height: 0.8rem;
}

/*expert*/
.expert{
    clear: both;
    margin-top: 0.6rem;
}

.expert .content figure{
    float: left;
    width: 26%;
    margin: 0.5rem 3.666% 0;
    text-align: center;
}

.expert .content figure .pic{
    width: 100%;
    height: 2.808rem;
    border-radius: 50%;
    overflow: hidden;
}

.expert .content figure .pic img{
    display: block;
    width: 100%;
    height: 100%;
}

.expert .content figure figcaption{
    height: 0.88rem;
    line-height: 0.88rem;
}


/*health-data*/
.health-data{
    clear: both;
    margin-top: 0.6rem;
}

.health-data p{
    width: 89%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}


/*online-ask*/
.online-ask{
    width: 100%;
    margin: 0.8rem auto 1.4rem;
}

.online-ask form{
    width: 9.6rem;
    margin: 0 auto;
}

.online-ask form ul li{
    position: relative;
    width: 100%;
    margin-bottom: 0.4rem;
    line-height: 1.1rem;
    box-sizing: border-box;
}

.online-ask form ul li .txt{ 
    width: 100%;
    height: 1.1rem;
    padding: 0;
    font-size: 0.4rem;
    line-height: 1.1rem;
    text-indent: 0.33rem;
    border: 1px solid #cfcfcf;
}

.online-ask form ul li .submit{
    width: 100%;
    height: 1.1rem;
    padding: 0;
    color: #fff;
    font-size: 0.4rem;
    line-height: 1.1rem;
    border:none;
    vertical-align: middle;
    background: #1ab4c3;
    cursor: pointer;
}

.online-ask form ul li .select-txt{
    cursor: pointer;
    position: relative;
}

.online-ask form ul li .select-down{
    display: block;
    position: absolute;
    top: 50%;
    right: 0.4rem;
    margin-top: -0.05rem;
    margin-right: -0.09rem;
    width: 0.19rem;
    height: 0.10rem;
    background: url(../images/select.png) no-repeat;
    background-size: cover;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.online-ask form ul li .select-up{
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg); 
}


#serve-container{
    position: absolute;
    top: 1.1rem;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #f3f3f3;
    border: 1px solid #dfdfdf;
    display: none;
}

#serve-container ul .option{
    color: #333;
    font-size: 0.4rem;
    text-indent: 0.33rem;
    margin: 0;
    border: none;
    cursor: pointer;
}

